doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title OneID Bundler and CDN

    link(rel='stylesheet', type='text/css', href='styles/styles.css')
    script.
      if ('registerElement' in document
        && 'createShadowRoot' in HTMLElement.prototype
        && 'import' in document.createElement('link')
        && 'content' in document.createElement('template')) {
        // We're using a browser with native WC support!
      } else {
        document.write('<script src="x-gif/dist/platform.js"><\/script>')
      }

  body
    article
      section(data-bespoke-hash="intro")
        .fullscreen(ui-fx="blur1")
            x-gif(src="images/disney_intro_tron.gif" fill stopped ping-pong speed="1")
        .content#intro
            .box
                h2: small New Relic in the Enterprise
                .mid by
                h4: small Peter Simkins <span class="rotate">\[._.]/</span>
                    .me.center
                br
                audio#audio(controls,loop)
                    source(src="https://archive.org/download/DaftPunkTronLegacyEncomPartIi/DaftPunkTronLegacyEncomPartIi.ogg" type="audio/ogg")
                    source(src="https://archive.org/download/DaftPunkTronLegacyEncomPartIi/DaftPunkTronLegacyEncomPartIi.mp3" type="audio/mpeg")

      section(data-bespoke-hash="allok")
        .fullscreen
          x-gif(src="images/mickey_dance.gif" fill stopped speed=0.8 n-times=3)
        .content.wait-for-gif.darken
          h1 temp

      section.content
        h2 tem
        h3: code.language-bash.
          more temp
        h3.grow ¯\_(ツ)_/¯

      section
        .fullscreen(ui-fx="blur1")
          x-gif(src="images/eraserhead.gif" fill stopped)

      section.content
        h3 interesting temp
        h4: small: code.language-bash.
          More temp...
        h3 \[o_9]/
        h2 placeholder

      section.content
        h2 more
        ul
          li blaah
          li blaah
          li blaah
          li blaah
          li blaah
          li blaah

      section.content
        h3 We can just scale the servers
        h4 right?

      section
        .fullscreen
          x-gif(src="images/laugh_donald.gif" fill stopped n-times=1)
        .content.wait-for-gif.darken
          h1 blaah

      section.content
        ul
            li
              b.alert.alert-info NewRelic
              | &nbsp; blaah &nbsp;
              b.alert.alert-danger.rotate blaah
            li
              b.alert.alert-info blaah
              | &nbsp; blaah &nbsp;
              b.alert.alert-danger.rotate blaah

      section.fullscreen
        x-gif(src="images/no.gif" fill stopped)

      section.content
        h3 blaah
        h4: code.language-bash.
          blaah
        h3 \[^_^]/

      section.content
        h3 blaah
        h4 blaah

      section.content
          h1 HTTP/2
          x-gif(src="images/unicorn_3.gif" stopped)

      section.content
          img(src="images/http2.png")

      section.fullscreen
        img.fillh(src="images/concatenate.jpg")
        .content
          .box
            h4 Concatenate all the things

      section.content
        img(src="images/oneid_html_bundle.png")

      section.content
        h2 Is that big?
        h4: code.language-css blaah


      section.content
        img(src="images/disney_id_no_bundler.png")

      section.content
        img(src="images/disney_id_bundler.png")

      section.content
        img(src="images/2cdns.png")

      section.content
        h2 \(• ◡ •)/ Added Benefits
        ul
            li blaah
            li blaah

      section.fullscreen
        x-gif(src="images/perfect_x-wings.gif" fill stopped)

      section.content
        h2 blaah
        ul
            li blaah
            li blaah
            li blaah

      section.fullscreen
        img(src="images/akamai_offload.png")

      section.fullscreen
        img(src="images/non_cdn.png")
        .content
          .box
            h4 blaah

      section.fullscreen
        img.fillh(src="images/newrelic_good.png")

      section.fullscreen
        img(src="images/ie9_traffic.jpg")
        .content
          .box
            h2 ie9.css
            pre
              code.language-css.
                .field select{background-image:none;padding-right:0;}
                .field .name{display:block;}
                .field .toggle .name{display:inline-block;}

      section
        .fullscreen(ui-fx="blur1")
          x-gif(src="images/applause.gif" fill ping-pong speed="0.6" stopped)
        .content(data-bespoke-state='light')
          div.box.darken
            .mid Thanks!
            .line
              .me.center
            h4 \[._.]/ Peter Simkins
            small: a(href='#1') &nbsp; restart

    script(src='scripts/scripts.js')
    link(rel="import" href="x-gif/dist/x-gif.html")
